<div class="btn-group dropright">
  <button class="btn btn-success dropdown-toggle ml-4" type="button" id="dropdownMenu" data-toggle="dropdown">
    Top Movies
  </button>
  <div class="dropdown-menu" style="background-color: grey;" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Adventure</button>
    <button class="dropdown-item" type="button">Animation</button>
    <button class="dropdown-item" type="button">Children</button>
    <button class="dropdown-item" type="button">Comedy</button>
    <button class="dropdown-item" type="button">Crime</button>
    <button class="dropdown-item" type="button">Documentary</button>
    <button class="dropdown-item" type="button">Drama</button>
    <button class="dropdown-item" type="button">Fantasy</button>
    <button class="dropdown-item" type="button">Film-Noir</button>
    <button class="dropdown-item" type="button">Horror</button>
    <button class="dropdown-item" type="button">Musical</button>
    <button class="dropdown-item" type="button">Mystery</button>
    <button class="dropdown-item" type="button">Romance</button>
    <button class="dropdown-item" type="button">Sci-Fi</button>
    <button class="dropdown-item" type="button">Thriller</button>
    <button class="dropdown-item" type="button">War</button>
    <button class="dropdown-item" type="button">Western</button>
  </div>
</div>
<div id="topchart"></div>
